:root{
    /* --background:#17181c;
    --dark:
    --primary-color:#7C8898;
    --secondary-color:#222222;   */
    
    --primary-color: #00ADB5;
    --second-color: #eeeeee;
    --default-color: #393E46;
    --ts-time: .4s;
    --default-text-color: #393E46;
    --bg-default: #17181c;
    --bg-tabs: #fff;
    --text-light: #eeeeee;
    --dark: #00ADB5;
    --secondary-1: #1A1A1B;
    --danger-color: #E05D5D;
    --font-titulo: 'Raleway', sans-serif;
}
.badge.bg-primary{
    background-color:var(--primary-color) !important;
}
body{
    background-color:var(--bg-default);
    color:#8B8EA1;
    padding-top: 56px;
    font-size: 20px;
}
.carousel-caption h3{
    font-size: 50px;
    text-shadow: 2px 2px 10px rgba(142, 142, 142, 1);
}
.carousel-caption p{
    text-shadow: 2px 2px 10px rgba(142, 142, 142, 1);
}


.bg-dark {
    --bs-bg-opacity: 1;
    background-color: var(--bg-default) !important;
} 
.btn-outline-success {
    transition: all 0.4s;
    border-width: 3px;
    color: #28a745 !important;
    cursor:pointer;
}
.btn-outline-danger {
    transition: all 0.4s;
    border-width: 3px;
    cursor: pointer;
    color:var(--danger-color)!important;
    border-color: var(--danger-color);
}
.btn-outline-dark {
    transition: all 0.4s;
    border-width: 3px;
    cursor: pointer;
    border-color: var(--dark);
    color: var(--dark);
}
.btn-outline-primary {
    transition: all 0.4s;
    border-width: 3px;
    cursor: pointer;
    border-color: var(--dark);
    color: var(--dark);
}
.btn-primary {
    transition: all 0.4s;
    border-width: 3px;
    cursor: pointer;
    border-color: var(--dark);
    background-color: var(--dark);
    color: #fff;
}
table a.btn-outline-success:hover, a.btn-outline-success:hover, .btn-outline-success:hover,
table a.btn-outline-success:active, a.btn-outline-success:active, .btn-outline-success:active,
table a.btn-outline-success:focus, a.btn-outline-success:focus, .btn-outline-success:focus {
    color: #fff !important;
    background-color: #28a745;
}
table a.btn-outline-dark:hover, a.btn-outline-dark:hover, .btn-outline-dark:hover,
table a.btn-outline-dark:active, a.btn-outline-dark:active, .btn-outline-dark:active,
table a.btn-outline-dark:focus, a.btn-outline-dark:focus, .btn-outline-dark:focus {
    color: var(--second-color);
    background-color: var(--dark);
    border-color: var(--dark);
}
table a.btn-outline-danger:hover, a.btn-outline-danger:hover, .btn-outline-danger:hover,
table a.btn-outline-danger:active, a.btn-outline-danger:active, .btn-outline-danger:active,
table a.btn-outline-danger:focus, a.btn-outline-danger:focus, .btn-outline-danger:focus {
    color: #fff !important;
    background-color: var(--danger-color);
}
table a.btn-outline-primary:hover, a.btn-outline-primary:hover, .btn-outline-primary:hover,
table a.btn-outline-primary:active, a.btn-outline-primary:active, .btn-outline-primary:active,
table a.btn-outline-primary:focus, a.btn-outline-primary:focus, .btn-outline-primary:focus {
    color: #fff !important;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
table a.btn-primary:hover, a.btn-primary:hover, .btn-primary:hover,
table a.btn-primary:active, a.btn-primary:active, .btn-primary:active,
table a.btn-primary:focus, a.btn-primary:focus, .btn-primary:focus {
    color: #fff !important;
    background-color:unset;
    border-color: var(--primary-color);
}

.navbar{
    border-radius: 0px;
}

.sys-articles > article header h1 {
    margin-top: 0px;    
}
.sys-articles{

    min-height: 400px;
}
.sys-articles-wrap{
    margin-bottom: 50px;
}
.card-body.sys-articles-content{
    min-height: 400px;
    padding: 45px 50px; 
}
.article-content p {
    margin: 0 0 10px;
}
.article-content {
    font-weight: normal;
} 
.article-details{
    padding-top: 15px;
    padding-bottom: 15px; 
}
.article-details span{
    margin-right: 15px;
}
.article-img img{
    max-width: 100%;
}
.comentar-container{
    margin-top: 15px;
}  
a{
    color:var(--primary-color);
    text-decoration: none;
    transition: all .4s;
}
a:hover{
    color:var(--secondary-color);
    text-decoration: none;
    transition: all .4s;
}
h5{
    font-size: 20px;
    color:var(--primary-color);
}

#myCarousel{
    height: 400px;
    background-color: var(--primary-color);
}
#myCarousel .carousel-inner{
    height: 400px;
} 

.ir-para-topo{
    position: fixed;
    bottom: 15px;
    right: 15px; 
}
.pesquisa-container input{
    padding-right: 35px;
}
.pesquisa-container{
    position: relative;
}
.pesquisa-container svg{
    position: absolute;
    top:28px;
    right: 30px;
}
@media (min-width:991px){
    .carousel-caption{
        padding: 0px 15px;;
    }
}